[user]
	email = tufan.butuner@transformuk.com
	name = Tufan Butuner
	signingKey = 695817E52DFFE7AB
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
